@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

 /* body, .card{
    background: #8E0E00; 
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00); 
    background: linear-gradient(to right, #1F1C18, #8E0E00); 
   
   

 } */

 /* body, .card{
    background-color: #cc8800;
background-image: url("https://www.transparenttextures.com/patterns/crisp-paper-ruffles.png");
 } */

 body, .card {
   
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
 }


 .mov-trailer{
    margin: 20px;
 }

 .formz{
    margin: 10px;
    
 }

 /* form{
   
    padding: 15px;
    border-radius: 5px;
    background: #8E0E00;
    background: -webkit-linear-gradient(to right,#8E0E00, #1F1C18 );
    background: linear-gradient(to bottom,#8E0E00 , #1F1C18 );
 } */

 .navbar-brand { 
     color: whitesmoke;
 }

 .navbar-brand-name{
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
 }

 .nav-text{
    font-family: 'Roboto Slab', serif;
 }

 .card-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
 }

 .card-text{
    font-family: 'Comfortaa', cursive;
    font-size: large;
 }

 .dddddd{
     background-color: white;
 }
 

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
   
}

.top-section {
    padding: 10px;
   
}

.search-section{
    padding: 5px;
    margin-bottom: 8px;
    text-align: center;
   
}

.search-section input{
   border-radius: 5px;
   padding: 5px;
   width: 50vw;
}

.des-read{
    color: teal;
    text-decoration: underline;
}
.des-read:hover{
    cursor: pointer;
}

.formText {
   display: none
}

.micons{
    font-size: 30rem;
}

.card {
    margin: 5px;
    
}

.header1{
    font-family: 'Lora', serif;
}

.para-text{
    font-family: 'Play', sans-serif;
    font-size: large;
}

.about{
    margin: 10px;
}



@media (min-width: 250px) and (max-width: 767px) {
    .card-img-top {
    
    height: 200px;
        
       
    }
} 